<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	
	<meta name=viewport content="width=device-width, initial-scale=1">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'website/style.css' %}">
	<title>Resume</title>
	<style type="text/css">
	</style>
</head>
<body>
	<div id="header">
	<br>
	<div class="top-left" style="color: white;"><b>GRAHANA</b><br><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DAFFA</b></div>
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				    <div class="navbar-nav">
				      <a class="nav-item nav-link" href="{% url 'index' %}">Home</a>
				      <a class="nav-item nav-link" href="{% url 'gallery' %}">Gallery</a>
				      <a class="nav-item nav-link active" href="{% url 'resume' %}">Resume<span class="sr-only">(current)</span></a>
				      <a class="nav-item nav-link" href="{% url 'blog' %}">Blog</a>
				      <a class="nav-item nav-link" href="{% url 'guestBook' %}">Guest Book</a>
				    </div>
				  </div>
				</nav>

	<br>
	<br>
	</div>
	<br>
	<br>
	<div id="main-quotes">
		Find out more about me
	</div>
	<br>
	<div id="main">
		<br>
		<style type="text/css">
		
		.tg td{
			font-family:sans-serif;
			font-size:4vw;
			padding:10px 5px;
			overflow:hidden;
			font-size:2.5vw;
			font-weight:normal;
			padding:10px 5px;
			text-align:left;
			vertical-align:top;}
		table{
			margin-left: 5vw;
		}
		</style>
		<table class="tg">
		  <tr>
		    <td class="tg-s268"><b>PROFILE</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		    <td class="tg-0lax"></th>
		    <td class="tg-s268"></th>
		  </tr>
		  <tr>
		    <td class="tg-0lax">name</th>
		    <td class="tg-s268">Grahana Daffa Herlambang</th>
		    <td class="tg-s268"></th>
		  </tr>
		  <tr>
		    <td class="tg-0lax">address</td>
		    <td class="tg-s268">Cluster Sevilla, blok CL no.2, Tangerang Selatan</td>
		    <td class="tg-s268"></td>
		  </tr>
		  <tr>
		    <td class="tg-73oq">date of birth&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		    <td class="tg-0lax">Yogyakarta, 11 Agustus 1999</td>
		    <td class="tg-0lax"></td>
		  </tr>
		</table>
		<br>
		<br>
		<br>
		<table class="tg">
		  <tr>
		    <td class="tg-s268"><b>ORGANIZATION</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		    <td class="tg-0lax"></th>
		    <td class="tg-s268"></th>
		  </tr>
		  <tr>
		    <td class="tg-s268">Student executive board</td>
		    <td class="tg-0lax"></td>
		    <td class="tg-s268"></td>
		  </tr>
		  <tr>
		    <td class="tg-s268">Staff of human resources division</td>
		    <td class="tg-0lax"></td>
		    <td class="tg-s268"></td>
		  </tr>
		</table>
		<br>
		<br>
		<br>
		<table class="tg">
		  <tr>
		    <td class="tg-s268"><b>VOLUNTEERING ACTIVITIES</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		    <td class="tg-0lax"></th>
		    <td class="tg-s268"></th>
		  </tr>
		  <tr>
		    <td class="tg-s268">Computers Get Together Fasilkom UI</td>
		    <td class="tg-0lax">Staff of creative</td>
		    <td class="tg-s268"></td>
		  </tr>
		  <tr>
		    <td class="tg-s268">Fasilom UI Graduation</td>
		    <td class="tg-0lax">Staff of creative</td>
		    <td class="tg-s268"></td>
		  </tr>
		  <tr>
		    <td class="tg-s268">Open House Fasilkom UI</td>
		    <td class="tg-0lax">Liaison Officer</td>
		    <td class="tg-s268"></td>
		  </tr>
		</table>
		<br>
		<br>
		<br>
		<table class="tg">
		  <tr>
		    <td class="tg-s268"><b>EDUCATION</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		    <td class="tg-0lax"></th>
		    <td class="tg-s268"></th>
		  </tr>
		  <tr>
		    <td class="tg-s268">Information System University Of Indonesia</td>
		    <td class="tg-0lax">2017-current</td>
		    <td class="tg-s268"></td>
		  </tr>
		  <tr>
		    <td class="tg-s268">SMAN 2 Tangerang Selatan</td>
		    <td class="tg-0lax">2014-2016</td>
		    <td class="tg-s268"></td>
		  </tr>
		  <tr>
		    <td class="tg-s268">SMPN 8 Tangerang Selatan</td>
		    <td class="tg-0lax">2011-2014</td>
		    <td class="tg-s268"></td>
		  </tr>
		</table>
		<br>
		<br>
	</div>
</body>
	<div class="footer">
		<div id= "footer-content">
			&copy;2018 GRAHANA DAFFA. All rights reserved
			<br>
			<br>
			<div id="inline">
			<a href="https://www.facebook.com/grahana.herlambang" class="fa fa-facebook"></a>
			<a href="https://twitter.com/grahana11" class="fa fa-twitter"></a>
			<a href="https://www.linkedin.com/in/grahana-daffa-herlambang-846a99153/" class="fa fa-linkedin"></a>
			</div>
			<br>
			<br>
		</div>
	</div>
</html>