		#head{
			width: 100%;
			display: block;
			height: auto;
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;
			filter: grayscale(100%);
		}
		body{
			max-height: 100vh;
			position: relative;
			
		}
		#quotes-background{
			width: 100%;
			display: block;
			height: auto;
			margin-right: auto;
			margin-left: auto;
			filter: grayscale(100%);
			margin-bottom: 0px;
		}
		.quotes-text{
			transform: translate(0%, -300%);
			font-family: "Times new roman";
			font-size: 2.5vw;
			color: white;
			font-style: italic;
			margin-bottom: 0px;
		}
		.center{
			position: absolute;
			top: 75%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-family: "helvetica";
			font-size: 3vw;
		}
		#top{
			position: relative;
			text-align: center;
			color: white;
		}
		.top-left{
			position: absolute;
			top: 10px;
			left: 16px;
			font-family: "Helvetica";
			font-size: 1.5vw;
			line-height: 1.5vw;
		}
		#quotes{
			text-align: center;
		}
		#button{
			position: absolute;
			top: 92%;
			left: 50%;
			transform: translate(-50%, -50%);
			white-space: normal;
			font-size: 2vw;
		}
		#navbar{
			position: absolute;
			top: 10px;
			right: 35px;
			font-size: 1.2vw;
			font-family: "helvetica";
		}
		#mid{
			margin-top: 2vw;
			margin-bottom: 2vw;
			font-family: "Helvetica";
			font-size: 4vw;
			text-align: center;
		}
		.lower-mid{
			background-color: #f3f1f4;
			text-align: center;
		}
		#face{
			border-radius: 50%;
			width: 100%;
			max-width: 17vw;
			margin-top: 2vw;
			margin-bottom: 2vw;
			filter: grayscale(85%);
		}
		#abilities{
			font-family: "montserrat";
			font-size: 2vw;
			margin-bottom: 2vw;
		}
		hr{
			color: black;
			margin-left: 6vw;
			margin-right: 6vw;
			height: 3px;
		}
		#kartu{
			margin-left: 1vw;
			margin-right: 1vw;
		}
		.footer{
			background-color: black;
			text-align: center;
			font-family: helvetica;
			color: white;
			font-size: 1.1vw;
			position: relative;
			bottom: 0;
			margin-top: -3vw;
			clear: both;
		}
		#quotes{
			margin-bottom: 0px;
			background-color: black;
		}
		.fa{
			padding: 20px;
			display: inline;
			width: 50px;
			font-size: 15px;
		}
		#header{
			background-color: black;
		}
		#main-quotes{
			font-family: "Times new roman";
			font-size: 6vw;
			text-align: center;
			margin-left: 1vw;
			margin-right: 1vw;
			margin-top: 1vw;
		}
		#author{
			font-family: "Times new roman";
			font-size: 2vw;
			text-align: center;
			margin-top: 1vw;
		}
		hr{
			margin-left: 3vw;
			margin-right: 3vw;
			margin-top: 2vw;
		}
		#main{
			text-align: center;
			background-color: #f8f5fa;
		}
		#design-title{
			text-align: center;
			font-family: "times new roman";
			font-size: 3vw;
		}
		#form{
			margin-left: 4vw;
			margin-right: 4vw;
		}